@charset "UTF-8";

/* Title Area */
.site h1 a{
  color: #000; /* 클래스 site아래 a링크의 글자색을 검은색으로 지정 */
  text-decoration: none; /* 클래스 site아래 a링크에서 자동으로 생성되는 밑줄 제거 */
}

.site h1{
  margin: 0; /* 클래스 site아래 h1태그의 외부간격(margin)을 0px로 지정 */
  font-size: 30px; /* 클래스 site아래 h1태그의 글자크기를 30px로 지정 */
}

/* Navigation */
.menu ul{
  margin:0; /* ul태그의 외부간격(margin)을 0px로 지정 */
  padding:0; /* ul태그의 내부간격(padding)을 0px로 지정 */
  list-style: none; /* ul태그의 bullit기호를 없앰 */
}

.menu a{
  display: block; /* inline요소인 a태그를 block요소로 변경 */
  padding: 5px; /* a태그의 내부간격(padding)을 5px로 지정 */
  color: #000; /* a태그의 글자색을 검은색으로 지정 */
  font-size: 14px; /* 글자 크기를 14px로 지정 */
  text-decoration: none; /* a태그에서 자동으로 생기는 밑줄을 제거 */
}

.menu li a:hover{
  background-color: #eee; /* a태그에 마우스를 가져다 댔을때 배경색을 #eee로 지정 */
}

.menu li{
  float:left; /* li태그들을 가로로 나열되도록 플로팅 */
}

nav{
  overflow: hidden; /* 플로팅한 li태그들에 대해 clearfix 처리 */
}

/* section and article wrapper, layout */
@media(min-width:768px){ /* 768px 이상일때만 가로배치, 그렇지 않으면 세로배치 */
  #wrapper:after{
    content:"";
    display:block;
    clear:both;
  }

  /* Article Area */
  .section_area{
    float:left;
    width:70%;
  }

  /* Aside Area */
  .aside_area{
    float:left;
    width:30%;
  }
}

/* Article, story */
.story h1{
  margin-top:0; /* 클래스 story아래 h1태그의 위쪽 외부간격(margin-top)을 0px로 지정 */
  margin-bottom: 20px; /* 클래스 story아래 h1태그의 아래쪽 외부간격(margin-bottom)을 20px로 지정 */
  font-size: 36px; /* 클래스 story아래 h1태그의 글자크기를 36px로 지정 */
}

.story img{
  max-width: 100%; /* 이미지가 .story의 영역 밖으로 나가지 않도록 조정 */
  height: auto; /* 이미지의 높이를 가로값에 자동 반응하여 조정 */
}

.story p{
  margin-top:0; /* 클래스 story아래 p태그의 위쪽 외부간격(margin-top)을 0px로 지정 */
  margin-bottom:20px; /* 클래스 story아래 p태그의 아래쪽 외부간격(margin-top)을 20px로 지정 */
}

/* Aside, sidemenu */
.sidemenu{
  margin-bottom:30px;
}

.sidemenu h1{
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dotted 2px #ddd;
  color: #666;
  font-size: 18px;
}

/* 아래에 나오는 ul, li a, li a:hover의 css들은 공식처럼 사용 가능한 코드입니다. */
.sidemenu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidemenu li a{
  display: block;
  padding: 5px;
  color:#000;
  font-size: 14px;
  text-decoration: none;
}

.sidemenu li a:hover{
  background-color: #eee;
}

/* Aside, recommend */
.recommend{
  margin-top: 30px;
}

.recommend h1{
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dotted 2px #ddd;
  color: #666;
  font-size: 18px;
}

.recommend ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.recommend li a{
  display:block;
  padding: 5px;
  color:#000;
  font-size:14px;
  text-decoration: none;
}

.recommend li a:hover{
  background-color: #eee;
}

/* Aside, popular */
.popular{
  margin-top: 30px;
}

.popular h1{
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dotted 2px #ddd;
  color: #666;
  font-size: 18px;
}

.popular ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular li a{
  display: block;
  padding: 5px;
  color:#000;
  font-size: 14px;
  text-decoration: none;
}

.popular li a:hover{
  background-color: #eee;
}

/* Copyright Area */
footer{
  clear : both;
}

.copyright p{
  margin:0;
  color:#666;
  font-size: 14px;
}
